{% extends "base.html" %}
{% load staticfiles %}

{% block title %}ScholarBot{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div id="imaginary_container">
                <div class="input-group stylish-input-group input-append">
                    <input type="text" class="form-control"  placeholder="Search for articles" >
                    <span class="input-group-addon">
                        <button type="submit">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
            </div>
        </div>
	</div>
</div>






<!--
<iframe src="http://localhost:3000/dashboard/snapshot/iaXrXdqSyfuLvj8Sy8ufVGJJTkEDdyDW" height="600" width="800"></iframe>
<iframe src="http://localhost:5601/app/kibana#/dashboard/New-Dashboard-test?embed=true&_g=()" height="600" width="800"></iframe>
 -->


{% endblock %}
